:root {
    --c01: hsl(322, 100%, 66%);
    --c01-button: #FF9ADB;
    --c02: hsl(193, 100%, 96%);
    --c03: hsl(192, 100%, 9%);
    --c04: hsl(208, 11%, 55%);
    --c05: #FFF;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/*********** HEADER ***********/

.main-background {
    background-image: url(images/bg-hero-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--c02);
}

.header-logo {
    width: 200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.header-button {
    display: block;
    background-color: var(--c05);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
    padding: 15px 60px;
    border-radius: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.header-button:hover {
    color: var(--c04);
}

@media (max-width: 600px) {
    .header-logo {
        width: 100px;
    }

    .header-button {
        padding: 6px 22px;
        font-size: 10px;
    }
}

/*********** HERO ***********/

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.hero-container h1 {
    color: var(--c03);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 32px;
    max-width: 24ch;
}

.hero-container p {
    color: var(--c03);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
    max-width: 50ch;
}

.hero-button {
    display: inline-block;
    background-color: var(--c01);
    padding: 20px 70px;
    border-radius: 30px;
    font-size: 14px;
    color: var(--c05);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.hero-button:hover {
    background-color: var(--c01-button);
}

.hero-background-image img {
    max-width: 100%;
}

@media (max-width: 1150px) {
    .hero-container h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        max-width: inherit;
        margin-bottom: 24px;
    } 

    .hero-container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: inherit;
        margin-bottom: 32px;
    }

    .hero-button {
        display: inline-block;
        background-color: var(--c01);
        padding: 10px 60px;
        border-radius: 30px;
        font-size: 12px;
        color: var(--c05);
    }
}

@media (max-width: 950px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 60px;
    }
}

/*********** ABOUT ***********/

.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    align-items: center;
    padding: 50px 30px 50px 120px;
    border-radius: 16px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
}

.image-content img {
    max-width: 100%; 
    display: block;
}

.text-content {
    flex: 1 1 250px;
}

.image-content {
    flex: 1 1 250px;
}

.text-content h2 {
    color: var(--c03);
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}

.text-content p {
    color: var(--c04);
    font-size: 18px;    
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 27px;
}

@media (max-width: 950px) {
    .info-content {
        padding: 50px;
        gap: 40px;
    }

    .text-content h2 {
        font-size: 20px;
    }

    .text-content p {
        font-size: 14px;
    }
}

/*********** CONTACT ***********/

.contact-background {
    background: #fff;
    padding-top: 150px;
    box-shadow:inset 0px -100px 0px 0px var(--c03);
    padding-left: 20px;
    padding-right: 20px;
}

.contact-box {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--c05);
    padding: 50px 0px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}

.contact-box h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
}

.contact-box-button {
    background-color: var(--c01);
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: var(--c05);
    font-family: 'Open Sans';
    padding: 25px 100px;
    border-radius: 40px;
}

.hero-button:hover {
    background-color: var(--c01-button);
}

@media (max-width: 950px) {
    .contact-background {
        padding-top: 120px;
    }

    .contact-box h2 {
        font-size: 18px;
        margin-bottom: 24px;
    }
    
    .contact-box-button {
        font-size: 10px;
        font-weight: 700;
        padding: 12px 50px;
        border-radius: 20px;
    }
}



/*********** FOOTER ***********/

.footer-background {
    padding-top: 50px;
    background-color: var(--c03);
    color: #fff;
}

.footer-container {
    display: grid;
    gap: 20px 60px;
    align-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1240px;
    text-align: center;
    margin: 0 auto;
    text-align: left;
    padding: 0px 40px;
}

.footer-logo {
    width: 150px;
    grid-column: 1/4;
}

.info-box {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
}

.info-box p {
    grid-column: 2/3;
    grid-row: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.tel-info {
    grid-column: 2/3;
    grid-row: 2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.mail-info {
    grid-column: 2/3;
    grid-row: 3;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.footer-site-links ul {
    list-style: none;
    display: grid;
    gap: 20px 60px; 
    grid-template-columns: 1fr 1fr;
}

.footer-site-links a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.footer-social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-links a{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin-right: 10px;
}

.footer-social-links p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

@media (max-width: 750px) {
    .footer-container {
        display: block;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .info-box {
        margin-bottom: 40px;
    }

    .footer-site-links ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .footer-social-links {
        margin-bottom: 20px;
    }

    .social-links {
        text-align: center;
        margin-bottom: 20px;
    }
}

